body, html{
  height:100%;
}
body{
  margin: 0px;
  background: url("img/dancefloor.jpg") no-repeat;
  background-size: 100%;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.addWreckingBall{
  padding:5px 12px;
  font-size: 24px;
  font-weight: 10px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
  opacity: 1;
  z-index: 100;
}

.tiny-dancer{
  border:3px solid white;
  border-radius:3px;
  position:absolute;

}

.white{
  border-color: white;
}

.below-grow{
  border:20px solid green;
  border-radius:20px;
  margin-top: -30px;
}

.twerk {
  border:0 solid red;
  border-radius:0;
  position:absolute;
  opacity: 1;
  background: url("img/miley.png");
  height: 150px;
  width: 150px;
  background-size: 100%;
}
.mousey{
  border:0 solid red;
  border-radius: 0;
  background: url("img/shuffle.gif") no-repeat;
  background-size: 100%;
  position:absolute;
  opacity: 1;
  width: 150px;
  height: 185px;
}

.wrecking-ball{
  border:0 solid red;
  border-radius: 0;
  background: url("img/miley-wrecking.png") no-repeat;
  background-size: 100%;
  position:absolute;
  opacity: 1;
  width: 600px;
  height: 1000px;
}

.visible {
  visibility: visible;
}

.explosion{
  background: url("img/explosion.gif") no-repeat;
  background-size: 100%;
}
